.aboutContent {

    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    @media screen and (min-width: 768px) {
        gap: 38px;
    }

    &__groupCollapse {
        display: flex;
        flex-direction: column;

        gap: 20px;

        width: 100%;

        @media screen and (min-width: 768px) {
            max-width: 1023px;
            gap: 30px;
        }
    }
}