@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, .text, p, span, a, .tagText, .errorTitle{
    font-family: Montserrat;
}

h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
}

h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;   
}

.bannerImgTitle{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.errorTitle{
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    text-align: center;
}

.navlink{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
}

.text{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.tagText{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}