@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, .text, p, span, a{
    font-family: Montserrat;
}

h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
}

h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;   
}

.text{
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
}