@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.bannerImgTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;

    text-align: left;
}

.userProfile__name{
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
}

.apartmentLocation{
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.apartmentTitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
}

.errorTitle {
    font-size: 96px;
    font-weight: 700;
    line-height: 136px;

    text-align: center;
}

.navlink {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

.errorLink {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

    text-align: center;
}

.smallText {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}

.tagText {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-align: center;
}

.smallTextDropdown{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.smallTextTag{
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
}