#app {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(1px, 1240px) minmax(20px, 1fr);
    row-gap: 20px;

    grid-template-rows: auto 1fr auto;

    @media screen and (min-width: 768px) {
        grid-template-columns: minmax(40px, 1fr) minmax(1px, 1240px) minmax(40px, 1fr);
    }

    @media screen and (min-width: 1024px) {
        row-gap: 50px;
    }
}