#root{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(1px, 1240px) minmax(20px, 1fr);
    grid-template-rows: auto;
    
    row-gap: 50px;
}

.gridThumb{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;

    row-gap: 50px;
}