@use "../../../styles/variables" as *;

footer{
    grid-row: auto;
    grid-column: 1/4;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-direction: column;

    gap: 18px;

    margin-top: auto;
    padding-top: 66px;
    padding-bottom: 58px;

    background: $black;

    img{
        width: auto;
        height: 39px;
    }
    p{
        max-width: 145px;
        text-align: center;
        color: $white;
    }
}