@use "../../../styles/variables"as *;

footer {
    grid-row: auto;
    grid-column: 1/4;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-direction: column;

    gap: 18px;

    bottom: 0;
    padding-top: 66px;
    padding-bottom: 58px;

    background: $black;

    @media screen and (min-width: 768px) {
        gap: 29px;
    }

    img {
        width: auto;
        height: 39px;
    }

    .footerText {
        max-width: 145px;
        text-align: center;
        color: $white;

        @media screen and (min-width: 768px) {
            font-size: 24px;
            font-weight: 500;
            line-height: 34.22px;
            max-width: inherit;
        }
    }
}