@use "../../../styles/variables"as *;

nav {
    grid-row: 1;
    grid-column: 2/3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: fit-content;
    padding-top: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 45px;
    }

    .logo {
        max-height: 46px;
        max-width: auto;

        @media screen and (min-width: 768px) {
            max-height: 68px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;

        gap: 26px;

        @media screen and (min-width: 768px) {
            gap: 57px;
        }

        li .navlink {
            position: relative;

            text-transform: uppercase;
            color: $black;

            @media screen and (min-width: 768px) {
                text-transform: none;
            }

            &-active {

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    background: $black;
                }
            }
        }
    }
}