@use "../../../styles/variables" as *;

.errorContent{
    grid-column: 2/3;
    grid-row: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    
    gap: 113px;
    
    padding: 113px 0px;
    width: 100%;

    .errorTitle{
        line-height: 1;
        color: $primaryColor;
    }

    .text{
        max-width: 260px;
        color: $primaryColor;
    }

    .textLink{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-decoration: underline;

        color: $primaryColor;
    }
}