@use "../../styles/variables" as *;

.userProfile {
    display: flex;
    flex-direction: row;

    gap: 10px;
    &__name {
        color: $primaryColor;
        white-space: pre-wrap;
    }

    &__picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}