@use "../../styles/variables"as *;

.bannerImg {
    position: relative;

    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 111px;
    width: 100%;

    border-radius: 10px;
    background-image: url("../../../public/image/WallpaperCliff.png");
    background-position: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &__About {
        background-image: url("../../../public/image/wallpaperMountain.png");
        background-position: center;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.3;
        border-radius: 10px;
    }

    .bannerImgTitle {
        z-index: 2;

        padding-left: 16px;
        max-width: 240px;

        color: $white;

        @media screen and (min-width: 768px) {
            max-width: inherit;
            padding-left: inherit;
        }
    }

    @media screen and (min-width: 768px) {
        height: 223px;
        border-radius: 25px;

        &::after {
            border-radius: 25px;
        }
    }
}