@use "../../styles/variables"as *;

.errorContent {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 113px;

    padding: 90px 0px;

    .text {
        width: 219px;

        color: $black;
    }

    .errorTitle {
        color: $primaryColor;
    }

    .errorLink {
        text-decoration: underline;
        color: $black;
    }
}